
body{ background-color: rgb(194, 181, 176);}
header{
    background-color: rgb(129, 120, 115);
}
header nav ul li {
    background-color: rgb(129, 120, 115);
    ;
}
header nav ul li a{
    color: rgb(64, 61, 61);
}
header nav ul li a:hover{
    background-color: rgb(64, 61, 61);
    color: white;
}
#page-logo a{
    color: rgb(64, 61, 61);
}
main{
    background-color: rgb(194, 181, 176) ;
}
.side div a {
   color:  rgb(41, 38, 38);
}
.side div a:hover{
    background-color:  rgb(41, 38, 38);
    color: white;
}